---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/sessions?appId=<you_app_id>&appKey=<you_app_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.pagseguro.com.br.v3+xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><session><id>96359f229d3743b6a6e5c0be4204d43e</id></session>
  recorded_at: Thu, 25 Feb 2021 21:27:47 GMT
- request:
    method: get
    uri: https://df.uol.com.br/df-fe/mvc/creditcard/v1/getBin?creditCard=411111&tk=96359f229d3743b6a6e5c0be4204d43e
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bin":{"length":null,"country":{"name":"Brazil","id":76,"isoCode":"BR","isoCodeThreeDigits":"BRA"},"bin":411111,"cvvSize":3,"expirable":"n","validationAlgorithm":"LUHN","bank":null,"brand":{"name":"visa"},"cardLevel":null,"statusMessage":"Success","reasonMessage":null}}'
  recorded_at: Thu, 25 Feb 2021 21:27:47 GMT
- request:
    method: post
    uri: https://df.uol.com.br/v2/cards
    body:
      encoding: UTF-8
      string: amount=10.00&cardNumber=4111111111111111&cardCvv=123&cardExpirationMonth=12&cardExpirationYear=&sessionId=96359f229d3743b6a6e5c0be4204d43e&cardBrand=visa
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"93954a3f12ba47bf920123d61d8a1018"}'
  recorded_at: Thu, 25 Feb 2021 21:27:49 GMT
recorded_with: VCR 6.0.0
